<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sPathDefaultBaseTemplate</key>
	<string>/usr/share/php/SwissalpS/_synergize/PHOCOA/SssSphocoaGenTemplates/SssSphocoaApp</string>
	<key>sPathPhocoaFrameWork</key>
	<string>/usr/share/php/phocoa</string>
	<key>sPathSssSFrameWork</key>
	<string>/usr/share/php/SwissalpS</string>
	<key>sPathSmartyFrameWork</key>
	<string>/usr/share/php/Smarty</string>
	<key>sPathPropelFrameWork</key>
	<string>/usr/share/php/propel</string>
	<key>sPathHordeFrameWork</key>
	<string>/usr/share/php/Horde</string>
	<key>sPathPearLog</key>
	<string>/usr/share/php</string>
	<key>sPathPhing</key>
	<string>/usr/share/php</string>
	<key>sDBtype</key>
	<string>mysql</string>
	<key>sDBhost</key>
	<string>debian2</string>
	<key>sDBuser</key>
	<string>phocoa</string>
	<key>sDBpass</key>
	<string>phocoa</string>
	<key>sDBname</key>
	<string>phocoa</string>
	<key>sHTTPip</key>
	<string>127.0.0.1</string>
	<key>sHTTPHost</key>
	<string>localhost</string>
	<key>iHTTPPort</key>
	<integer>80</integer>
	<key>sAppName</key>
	<string>SssSphocoaAppCopy</string>
</dict>
</plist>
