<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>DEFAULT_BASE_TEMPLATE_DIR</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA/SssSphocoaGenTemplates/SssSphocoaSystemManager</string>
		<key>FRAMEWORK_DIR</key><string>/usr/share/php/phocoa</string>
		<key>SwissalpS_FRAMEWORK_DIR</key><string>/usr/share/php/SwissalpS</string>
		<key>SMARTY_DIR</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA/Smarty</string>
		<key>PROPEL_FRAMEWORK_DIR</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA/propel</string>
		<key>HORDE_FRAMEWORK_DIR</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA/Horde</string>
		<key>PEAR_LOG_FRAMEWORK_DIR</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA</string>
		<key>PHING_PATH</key><string>/usr/share/php/SwissalpS/_synergize/PHOCOA</string>
		<key>PROPEL_DATABASE</key><string>mysql</string>
		<key>DB_HOST</key><string>localhost</string>
		<key>DB_USER</key><string>phocoa</string>
		<key>DB_PASS</key><string>cGhvY29h</string>
		<key>DB_NAME</key><string>phocoa</string>
		<key>SERVER_IP</key><string>127.0.0.1</string>
		<key>SERVER_NAME</key><string>localhost</string>
		<key>SERVER_PORT</key><integer>80</integer>
		<key>PHOCOA_PROJECT_NAME</key><string>SssSphocoaSystemManagerCopy</string>
		<key>SssSphocoaGeneratorVersion</key><integer>3</integer>
	</dict>
</plist>
